.leader-board{
  width:100%;
  margin: 35px 0 35px 0;
  .statistic{
    width: 125px;
    display: inline-block;
    margin:0 0px;
    .label{
      opacity: 0.25;
      text-transform: uppercase;
    }
    .value{
      font-size: 50px;
      font-weight: bolder;
      opacity: 0.3;
    }
  }
}